attrs==21.4.0
blinker==1.4
efficientnet==1.1.1
executing==0.9.1
flwr==0.19.0
keras==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.5.2
matplotlib-inline==0.1.3
numpy==1.20.3
pandas==1.4.3
Pillow==9.2.0
plotly==5.9.0
protobuf==3.19.6
Pygments==2.12.0
requests==2.28.1
rich==12.5.1
seaborn==0.11.2
six==1.16.0
streamlit==1.11.0
tenacity==8.0.1
tensorboard==2.9.0
tensorflow-macos==2.9.1
tensorflow-metal==0.5.*
tensorflow-estimator==2.9.0
tornado==6.2
wheel==0.37.1
wrapt==1.14.1